@let loadingData = loading();
<mat-card class="books-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title data-testid="card-title">Books</mat-card-title>
  </mat-card-header>
  @if (loadingData) {
    <mat-progress-bar style="margin: 10px 0" mode="indeterminate"></mat-progress-bar>
  } @else {
    <mat-divider></mat-divider>
  }
  <mat-card-content class="spaced-content">
    <div class="panel">
      <button mat-flat-button (click)="createBook()" data-testid="new-book-button">New Book</button>
      <p>
        <mat-slide-toggle (change)="onSaleToggle($event)" data-testid="on-sale-book-toggle">On Sale</mat-slide-toggle>
      </p>
    </div>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" data-testid="books-table">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let book">{{ book.title }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let book" data-testid="book-price">
          {{ book.price | currency: 'DKK' : 'symbol' : '1.2-2' : 'da-DK' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="onSale">
        <th mat-header-cell *matHeaderCellDef>On Sale</th>
        <td mat-cell *matCellDef="let book">{{ book.onSale ? 'Yes' : 'No' }}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let book">
          <button mat-mini-fab (click)="editBook($event, book.id)" aria-label="edit-book" title="Edit Book">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let book">
          <button mat-mini-fab (click)="deleteBook($event, book.id)" aria-label="delete-book" title="Delete Book">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
      <tr
        mat-row
        (click)="onViewDetails(row)"
        *matRowDef="let row; columns: displayedColumns()"
        data-testid="book-item"
      ></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[10, 20]"
      aria-label="Select page of users"
      data-testid="paginator"
    ></mat-paginator>
  </mat-card-content>
</mat-card>
@if (!loadingData) {
  <router-outlet></router-outlet>
}
