<mat-card data-testid="book-delete">
  @let book = bookDetails();
  <mat-card-title data-testid="title-delete">{{ book.title }}</mat-card-title>
  <mat-card-content>
    <div class="delete-confirmation">
      <mat-icon>warning</mat-icon>
      <span>{{ 'books.delete.warning' | translate }}</span>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button type="button" (click)="closeDelete.emit()" data-testid="cancel-button">
      {{ 'books.global.cancel' | translate }}
    </button>
    <button mat-flat-button type="button" (click)="submitDelete.emit()" data-testid="delete-button">
      {{ 'books.delete.confirm' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
