@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

mat-card {
  padding: 24px 16px;
}

mat-card-title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

mat-card-actions {
  margin-top: 1.5rem;
  justify-content: flex-end;
}
